// Variables denoted using $ in SCSS and -- in CSS
@import'./resets';
@import'./variables';

@function weight($weight-name){
    @return map-get($font-weights , $weight-name );
}

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color,100%);
        color: darken($text-color, 100%);
    }
}

body{
    background: $primary-color;
    color: $text-color;
}
.main{
    @include flexCenter(column);
    
    width: 80%;
    margin: 0 auto;
    font-weight: weight(thin);
    text-align: center;
    .Para{
        // color: rgb(255, 230, 0);
        font-weight: weight(thicc);
        &:hover{
            color:pink;
        }
        
    }
}

.light{
    @include theme($light-theme: false)
}